body{
    background-color: rgba(0, 0, 0, 0.014);
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: white;
    width: 100vw;
    height: 56px;
    position: fixed;
}
.nav-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
.left-elements{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
}
.menu-svg{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.youtube_logo{
    width: 80px;
    height: 24px;
}
.search-div{
  flex:1 0 auto ;
  margin-left: 200px;
  
}
.search-box{
    border-style: solid;
    border-width: .03ch;
    
}
input{
   
    font-size: 10pt;
    font-style: normal;
    width: 400px;
    height: 32px;
    padding: 1px 0px;
    border: 1px solid #ccc;
}
.search-btn{
    border: 1px solid #ccc;
    width: 64px;
    height: 32px;
    padding: 1px 6px;
    margin-left: -4px;

}
.search-svg{
  
    width: 27.44px;
    height: 15px;
}
.main{
    display: flex;
}

.main{
    margin: 0 auto;
    max-width: 90vw;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
section{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 55%;
    padding: 24px 24px 0 0;
    
}


aside{
    height: 100vh; 
    width: 40%; 
    display: flex;
    flex-flow: column nowrap;
    padding: 24px 24px 0 0;
}
.logo img{
    max-height: 50px;
}
.right-elements{
    display: flex;
    flex-wrap: nowrap;
    
}
.right-element{
    width: 24px;
    height: 24px;
    padding: 5%;    
}
.opacity{
    opacity: .6;
}
.user-img{
    background-color: rebeccapurple;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    
}
.iframe{
    width: 100%;
    height: 500px;
   
}
.div-iframe{
    width: 100%;
    /* height: 100%; */
}

.sugestion{
    display: flex;
    flex-flow: row nowrap;
    width: 426px;
    height: 94;
    margin-bottom: 8px;
}
.sugestion:nth-of-type(2){
    padding-top: 7px;
    border-top: solid lightgray 1px;

}

.sugestion-image{
    background-color:red;
    width: 168px;
    height: 94px;
    margin-right: 8px;
}
.img{
    height: 100%;
width: auto;
}
.sugestion-details{
    display: flex;
    flex-flow: column nowrap;
}

h3{
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 900;
}
h5{
    padding-bottom: 5px;
}
.video-title h1{
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 0 8px 0;

}
.views-date
{
    font-size: .9em;
}
.social-btn-style{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    /* margin: 8px; */
}
.comment{
    display: grid;

}

.social-buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.chanel-info{
    border-bottom: solid lightgray 1px;
    padding-bottom: 20px;
}
.chanel-author-subscribe{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.author-img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: red;
}
.subrscribe-btn{
    background-color: red;
    color: white;
    border-radius: 5%;
    border: none;
    text-transform: uppercase;
    padding: 16px 10px 16px 10px;
    font-weight: 600px;
}
.name-subscriber{
    margin-left: 50px;
}
.comments-count{
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;
   
}
.user-comment{
    display: flex;
    flex-flow: row nowrap;
}

.video-details{
    padding-top: 40px;
}
.commenter-img{
    background-color: blue;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.author-comment{
    padding-top: 40px;
    padding-left: 50px;
}
.add-comment-section{
    display: flex;
    flex-flow: row nowrap;
}
.comment{
    margin-left: 20px;
    flex: 1 0 auto;
    background: transparent;
    outline: none;
    border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
}
.comment:focus{
    border-width: 0px;
    border-bottom: 2px solid;
}
/* Toggle button */
