body{
    background-color: rgba(0, 0, 0, 0.014);
}

nav{
    background-color: white;
    width: 100vw;
    height: 56px;
    position: fixed;
}
.nav-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
.left-elements{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
}
.menu-svg{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.youtube_logo{
    width: 80px;
    height: 24px;
}
.search-div{
  flex:1 0 auto ;
  margin-left: 200px;
}
.search-box{
    border-style: solid;
    border-width: .03ch;
    
}
input{
   
    font-size: 10pt;
    font-style: normal;
    width: 400px;
    height: 32px;
    padding: 1px 0px;
    border: 1px solid #ccc;
}
.search-btn{
    border: 1px solid #ccc;
    width: 64px;
    height: 32px;
    padding: 1px 6px;
    margin-left: -4px;

}
.search-svg{
  
    width: 27.44px;
    height: 15px;
}
.main{
    display: flex;
}

.main{
    margin: 0 auto;
    max-width: 90vw;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
section{
    height: 100vh;
    width: 60vw;
    
}


aside{
    background-color: rgb(70, 175, 93);
    height: 100vh; 
    width: 40vw; 
}
.logo img{
    max-height: 50px;
}
.right-elements{
    display: flex;
    flex-wrap: nowrap;
    
}
.right-element{
    width: 24px;
    height: 24px;
    padding: 5%;    
}
.opacity{
    opacity: .6;
}
.user-img{
    background-color: rebeccapurple;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    
}
.iframe{
    width: 100%;
    height: 100%;
}
.div-iframe{
    width: 600px;
    height: 400px;
}